# .NET Core
bin/
obj/

# Rider
.idea/
*.iml
*.sln.iml

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Rider run configurations
.idea/.idea_modules/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/httpRequests/
.idea/markdown-navigator.xml

# Temporary files
*.swp
*.swo
*.tmp
*.temp

# Logs
*.log

# Visual Studio specific
.vs/
.vscode/
*.pdb

# Resharper
_ReSharper.Caches/

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Build directories
dist/
build/
Debug/
Release/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/